- include_vars: vars/main.yml
- include_tasks: pip.yml

- name: build image from cloned repo
  docker_image:
    name: jenkins
    build:
        pull: true
        path: ./docker/
    source: build

- name: Log into ECR if required.
  shell: "$(aws ecr get-login --no-include-email --region {{ aws_region }})"

- name: Create ecr_repo if not exists
  ecs_ecr:
    name: "{{ namespace }}"
    state: present
    region: "{{ aws_region }}"
    #policy: "{{ lookup('template', 'ecr_policy.json.j2') }}"

- name: Tag docker image with ECR_URL
  command: "docker tag {{ ecr_image_name }}:{{ ecr_image_tags.0 }} {{ ecr_url }}/{{ ecr_image_name }}:{{ image_tag }}"
  changed_when: true

- name: Push image to ECR.
  command: "docker push {{ ecr_url }}/{{ namespace }}/{{ ecr_image_name }}:{{ image_tag }}"
  register: push_result
  changed_when: true
  until: push_result is success
  retries: 10
  delay: 2